*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navbar
{
    height:60px;
    width: 100%;
    background-color: black;
}
.logo
{
    height:60px;
    width: 10%;
    float: left;
}
.logo img
{
    height:60px;
    width: 100%;
}
.companyName
{
    height:60px;
    width: 90%;
    float: left;
    color: white;
}
.companyName h1
{
    margin: auto;
    text-align: center;
    line-height: 60px;
}
.homecontainer
{
    height:auto;
    width: 80%;
    padding: 20px 0px;
    margin: auto;
}
.homeImg
{
    height:500px;
    width: 80%;
    background-color: darkred;
    margin: auto;
    border-radius: 20px;
}
.homeImg img
{
    height:500px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
}
.gallerycontainer
{
    height:auto;
    width: 80%;
    padding: 20px 0px;
    margin: auto;
}
.galleryImg
{
    height: 350px;
    width: 80%;
    margin: auto;
}
.box1
{
    height: 300px;
    width:23%;
    background-color: brown;
    float: left;
   margin: 25px 1%;
    border-radius: 30px;
}
.box1 img
{
    height: 300px;
    width:100%;
    border-radius: 30px;
    filter: grayscale(100);
    transition: 0.7s;
}
.box1 img:hover
{
    filter: grayscale(0);
}
.box2
{
    height: 300px;
    width:23%;
    background-color:burlywood;
    float: left;
    margin: 25px 1%;
    border-radius: 30px;
}
.box2 img
{
    height: 300px;
    width:100%;
    border-radius: 30px;
    filter: grayscale(100);
    transition: 0.7s;
}
.box2 img:hover
{
    filter: grayscale(0);
}
.box3
{
    height: 300px;
    width:23%;
    background-color:crimson;
    float: left;
    margin: 25px 1%;
    border-radius: 30px;
}
.box3 img
{
    height: 300px;
    width:100%;
    border-radius: 30px;
    filter: grayscale(100);
    transition: 0.7s;
}
.box3 img:hover
{
    filter: grayscale(0);
}
.box4
{
    height: 300px;
    width:23%;
    background-color:burlywood;
    float: left;
    margin: 25px 1%;
    border-radius: 30px;
}
.box4 img
{
    height: 300px;
    width:100%;
    border-radius: 30px;
    filter: grayscale(100);
    transition: 0.7s;
}
.box4 img:hover
{
    filter: grayscale(0);
}
.footer h2
{
    text-align: center;
    padding: 30px 0px;
}